.blue {
  background-color: #3367d6;
  height: 20%;
  display: flex;
flex-direction: row;
padding-left: 30px;
padding: 10px;
}
.logo {
  height: 30px;
  width: 40px;
}
.centerElement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
}

.none{list-style-type: none;}
.search{
    border-color: rgb(212, 225, 236);
    border-right: 2px;
}
.inputElement{
    background-color:  #2850a7;
    border-width: 0px;
}
.element{
     background-color:  #2850a7;
     display: flex;
     justify-content: center;
     padding:4px;
}

